.no-margin{
  margin: 0px;
}

.nav-item{
  border-bottom: 1px solid #e4eaec;
  a{
    color: #34b292;
    em{
      margin-right: 5px;
    }
  }
}

.navbar-brand{
  color: white;
  .brand-logo{
    padding: 15px 10px !important;
  }
}

.navbar-left{
  .dropdown-list{
    margin-left:10px !important;
    h4{
      color:#2b957a;
    }
  }
}

.judul-route{
  color:#2b957a !important;
}

.table{
  white-space: nowrap;
  .img-thumbnail{
    width: 30px;
    margin-right: 5px;
  }
}
